<div class="pane-head" style="padding: 10px;">
	<button type="button" class="close" data-ng-click="panels.close();">x</button>
</div>

<div class="pane-body" style="padding: 10px;">
	<div style="padding: 10px;background-color: white;"><img ng-src="{{selectedCAT.Icon}}">{{selectedCAT.Category}}</div>
	<h4>{{selectedPOI.Name}}</h4>
	<small>{{selectedPOI.Note}}</small>
	<br>
	<img ng-hide="selectedPOI.Image==''" class="img-responsive" ng-src="{{selectedPOI.Image}}" alt="{{selectedPOI.Name}}">
	<br>
	<uib-accordion  ng-hide="selectedPOI.DescriptionITA==''"><div uib-accordion-group class="panel-default" is-open="status.open"><uib-accordion-heading>
		Italiano <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></uib-accordion-heading>
		{{selectedPOI.DescriptionITA}}
	</div></uib-accordion>
	<br>
	<i>Segnalato da {{selectedPOI.MarkerBy}}</i>
	<br>
	<div>
	<a ng-href="https://www.google.com/maps?q={{selectedPOI.Latitude}},{{selectedPOI.Longitude}}" class="btn btn-primary btn-sm" role="button">Posizione</a>
	<a ng-href="https://www.google.com/maps/place/Current+Location/{{selectedPOI.Latitude}},{{selectedPOI.Longitude}}" class="btn btn-primary btn-sm" role="button">Indicazioni</a>
	</div>
	<div>
		<button type="button" class="close" data-ng-click="panels.close();">Chiudi</button>
	</div>
</div>
